@charset "utf-8";

.clearBoth{
	clear: both;
}
.footer{
	text-align: left;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}
a:focus{
	outline: none;
}
.h380{
    height: 380px;
}
a.text-nostyle{
    text-decoration: none;    
}
a.text-black{
    color: #333333;
}

.mT10{
    margin-top: 10px;
}
.mT15{
    margin-top: 15px;
}
.mT20{
    margin-top: 20px;
}